ion-toolbar{
    height: 13vh;
}

ion-toolbar .toolbar{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

ion-toolbar .toolbar img{
    width: 20vw;
    margin-top: 1vh;
    margin-bottom:1vh;
    border-top-left-radius: 30%;
    border-bottom-right-radius: 30% ;
    margin-left:.5rem;

}

ion-toolbar .toolbar ion-title{
    font-size: 4.5vw;
    font-style: italic;
    text-align: center;
    font-family: 'Gugi';
    // padding-right: 1rem;

}

.toolbar ion-icon{
    float: right;
    font-size: 5vw;
    margin-top:5vh;
    margin-right: 3vh;
}

span{
    color:var(--ion-color-space);
}


.imgBox1{
    position: relative;
    margin-top:-10rem;
    margin-left: -4rem;
    height: 25rem;
    width: 25rem;
    overflow: hidden;
    // background: red;
    border-radius: 50%;

    img{
        position: absolute;
        
    }
}

ion-content>div:first-of-type>img{ 
    width: 100%;
    height: 100%;
    object-fit: cover;
}

// ion-content>div:first-of-type~div{
//     text-align: center;
// }

.imgBox1~div{
    text-align: end;
    margin-top:-5vh;
    margin-right:3vw;
}

ion-button{
    --background:var(--ion-color-space);
    // margin-top: 2vh;
    width: 20vw;
    height: 6vh;
    
}
ion-grid{
    margin-top: 2vh;
}

.imgBox{
    position: relative;
    img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }
    h3{
        color:var(--ion-color-tlight);
    }
   
}

ion-col>div{
    height: 10vh;
    border-radius: 10%;
}
ion-col>div>h3{
    float: right;
    padding-right: 3vh;
    margin-top: 2.8vh;
    font-style: italic;
    font-weight: 600;
}

ion-list{
    margin-top:3vh;
    padding-bottom: 6vh;
}

ion-item{
    height: 5vh;
    border-bottom: 2px solid var(--ion-color-space);
}
ion-item>ion-label{
font-size: 1rem;
}

// ion-button{
//    --background: transparent;
// }

// ion-icon{
//     color: aquamarine;
// }

// .icon{
    
// }
