<ion-header [translucent]="true">
  <ion-toolbar >
    <div class="toolbar">
      <img src="assets/music/logo-musique-space.jpg">
    <ion-title>
      Music <span>Space</span>
    </ion-title>
    
    </div>
  </ion-toolbar>
  
</ion-header>


<ion-content>

  <div>
    <img src="assets/music/logo-musique-space.jpg">
  </div>
  <h1> Music <span>Space</span></h1>
  <h2> By <span>Stephanie Siewe</span></h2>
  <h2> V 1.6.5</h2>
  <p> This is an Unofficial App Devolopped by an Independent Developper for a course of <span> Mobile Developpement </span></p>
  
  
</ion-content>